.container{
    margin-left:500px;
    margin-top: 50px;
}
.card{
    margin-top: 150px;
    background-color:rgb(104, 161, 144);
    max-width: 500px;
    width: 100%;
    margin-left: 50px;
    padding: 25px 30px;
    border-radius: 25px;
    background: linear-gradient(135deg,#be1b1bca,#161baa);
}
.abc{
    background-size: cover;
    margin-top: -50px;
    height: 850px;
    
}
.bg-success{
    width: 200px!important;
    padding: 5px;
     min-width: unset!important;
}
